# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Poetry / Virtual Environments
.venv/
poetry.lock

# IDE / OS
.vscode/
.idea/
*.DS_Store

# Secrets
.env

# Ruff
.ruff_cache/

# Logs
*.log
logs/

# pytest
.pytest_cache/

# Stress test
stress_test.ps1